arviz==0.11.4
cachelib==0.6.0
cachetools==5.0.0
cftime==1.6.0
click==8.0.3
cycler==0.11.0
dataclasses==0.6
deprecat==2.1.1
dill==0.3.4
fastprogress==1.0.2
filelock==3.6.0
Flask==2.0.2
Flask-Cors==3.0.10
Flask-Session==0.4.0
fonttools==4.31.1
itsdangerous==2.0.1
Jinja2==3.0.3
kiwisolver==1.4.0
MarkupSafe==2.0.1
matplotlib==3.5.1
netCDF4==1.5.8
numpy==1.22.1
packaging==21.3
pandas==1.4.1
patsy==0.5.2
Pillow==9.0.1
PuLP==2.6.0
pymc3==3.11.5
pyparsing==3.0.7
python-constraint==1.4.0
python-dateutil==2.8.2
pytz==2022.1
scipy==1.7.3
semver==2.13.0
six==1.16.0
Theano-PyMC==1.1.2
typing-extensions==3.10.0.2
Werkzeug==2.0.3
wrapt==1.14.0
xarray==2022.3.0
