{% extends "base.html" %}
{% block title%}Customize{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-10">
            <h1>CUSTOMIZE THE LAYOUT</h1>
        </div>
        <!-- <div class="col-2">
            <button type="button" class="btn btn-success" style="width: 100%;" id="apply-btn">Apply</button>
        </div> -->
    </div>

    <div class="row">
        <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-preference-list" data-toggle="list" href="#list-preference" role="tab" aria-controls="preference">Preference</a>
            <a class="list-group-item list-group-item-action" id="list-usage-list" data-toggle="list" href="#list-usage" role="tab" aria-controls="usage">Usage</a>
            <a class="list-group-item list-group-item-action" id="list-tile-list" data-toggle="list" href="#list-tile" role="tab" aria-controls="tile">Tile</a>
        </div>
        </div>
        <div class="col-8">
        <div class="tab-content" id="nav-tabContent">

            <div class="tab-pane fade show active" id="list-preference" role="tabpanel" aria-labelledby="list-preference-list">
                <div class="row mt-5 mb-5">
                    <div class="col-10">
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-success" style="width: 100%;" id="apply-btn">Apply</button>
                    </div>
                </div>
                
                {% for tile in tiles %}
                    <div class="preference-list">
                        <div class="row">
                            <div class="col-4">
                                <label for="{{ 'slider_' + tile.id }}" class="form-label">{{ tile.name }}</label>
                            </div>
                            <div class="col-6">
                                <input type="range" class="form-range" min="1" max="5" step="1" id="{{ 'slider_' + tile.id }}">
                            </div>
                            <div class="col-2">
                                <span id="{{ 'val_' + tile.id }}">5</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            
            
            <div class="tab-pane fade" id="list-usage" role="tabpanel" aria-labelledby="list-usage-list">
                <div class="container text-center" id="chart-container">
                    <button class="btn btn-danger m-3" style="width: 100%;" id="randomize-btn">Randomize Usage</button>
                    <canvas id="usage-chart" style="width: 100%;"></canvas>
                </div>
                
            </div>


            <div class="tab-pane fade" id="list-tile" role="tabpanel" aria-labelledby="list-tile-list">
                <div class="row">
                    <div class="col-4">
                        <label for="icon-size-slider" class="form-label">Icon Size</label>
                    </div>
                    <div class="col-6 mt-2">
                        <div id="icon-size-slider"></div>
                    </div>
                    <div class="col-2">
                        <span id="icon-size-value"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <label for="text-size-slider" class="form-label">Text Size</label>
                    </div>
                    <div class="col-6 mt-2">
                        <div id="text-size-slider"></div>
                    </div>
                    <div class="col-2">
                        <span id="text-size-value"></span>
                    </div>
                </div>

                <div class="container" id="tile-space" class="mt-5"></div>
            </div>
        </div>
        </div>
    </div>
</div>

<style>
    .tile{
        background-color: #2980b9;
        height: 150px;
        color: #ecf0f1;
    }
</style>

{% endblock %}