{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <div class="container pt-5">
        <div class="row align-items-center border border-success mt-3 mb-3 p-1">
            <div class="col-md-3">
                <button type="button" class="btn btn-success" style="width: 100%" id="voice-cmd-btn" activated="0">
                    Activate Voice Command
                </button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-primary" style="width: 100%" data-bs-toggle="modal"
                        data-bs-target="#usagePreferenceModal">View Preference/Usage
                </button>
            </div>
            <div class="col">
                <div class="d-flex flex-row-reverse mt-3 mb-3">
                    <div class="btn-group" role="group" aria-label="sort-by">
                        <button type="button" class="btn btn-secondary" name="order-btn" value="0">Alphabetical</button>
                        <button type="button" class="btn btn-secondary" name="order-btn" value="1">Frequency</button>
                        <button type="button" class="btn btn-secondary" name="order-btn" value="2">Preference</button>
                        <button type="button" class="btn btn-secondary" name="order-btn" value="3">Frequency +
                            Preference
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="usagePreferenceModal" tabindex="-1" role="dialog"
             aria-labelledby="usagePreferenceModal" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Preference and Usage</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>Usage</h2>
                                <canvas id="usage-chart" style="width: 100%;"></canvas>
                            </div>
                            <div class="col-md-6">
                                <h2>Preference</h2>
                                <canvas id="preference-chart" style="width: 100%;"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="menu-space" data-text="{{ text_size }}" data-icon="{{ icon_size }}">
            {% for i in range(3) %}
                <div class="row">
                    {% for j in range(4) %}
                        <div class="col tile m-1" data-id="{{ tiles[i * 4 + j].id }}">
                            <div class="row mt-lg-3">
                                <div class="col text-center">
                                    <i class="{{ tiles[i * 4 + j].icon }}" style="font-size: {{ icon_size }}px;"></i>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col text-center">
                                    <p style="font-size: {{ text_size }}px;">{{ tiles[i * 4 + j].name }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

    </div>


{% endblock %}